header.header
    nav.nav.nav--tours
        a.nav__el(href="/") All tours
    .header__logo
        img(src="/img/logo-white.png", alt="Logo")
    nav.nav.nav--user
        //- a.nav__el(href="#") My bookings
        //- a.nav__el(href="#")
        //-     img(src="img/users/user-1.jpg", alt="User photo", class="nav__user-img")
        //-     span Błażej
        button.nav__el Log in
        button.nav__el--cta Sign up
